@keyframes page-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
}

body {
  animation: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.25s page-opacity both;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.intro {
  margin-bottom: 50px;
}

.intro__name {
  font-size: 2rem;
}

.intro__title {
  font-size: 2rem;
}

.intro__bio {
  width: 300px;
}

.mail,
.github {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
}

.icon {
  margin-right: 10px;
  opacity: 0.75;
  width: 24px;
}

.link {
  color: #333;
}
