<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ get_url(path="tufte-dark.css") }}">
        <script defer data-domain="bendik.dev" src="https://plausible.io/js/script.pageview-props.js"></script>
        <script>
          plausible('pageview', { props: { language: navigator.language } })
        </script>
    </head>
    <body>
    <article>
    {% block content %}{% endblock content %}
    </article>
    </body>
</html>
