{% extends "base.html" %}

{% block title %}
bendik.dev
{% endblock title %}

{% block content %}
<h1>Bendik Solheim</h1>
<p class="subtitle">Predictable thoughts about software development</p>
{% set posts = get_section(path="posts/_index.md") %}
{% for post in posts.pages %}
    <section>
    {% if post.extra.url %}
        <h2><a href="{{ post.extra.url }}">{{ post.title }}</a></h2>
        <h3>{{ post.date | date(format="%B %e, %Y") }} – {{ post.extra.reading_time }} minute read time</h3>
        {{ post.content | safe }}
    {% else %}
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        <span>{{ post.date | date(format="%B %e, %Y") }} – {{ post.reading_time }} minute read time</span>
        {{ post.summary | safe}}
    {% endif %}
    </section>
{% endfor %}
{% endblock content %}
